{% extends "base.html" %}

{% block content %}

<h3> 使用说明 </h3>

暂时测试之用，发现有朋友老是把唯一的数据删除掉了，害得我老是去添加一两条数据。<br />

//wyatt@2011/09/25 22:23:26 最新更新 <br />
======================================= <br />

- 用户验证功能上线，但暂时还不具备用户注册功能。<br />
- 编码上和以前有些区别，主要是URL的编码方式上，以前是用的 ``flask.Module``， 现在是 ``flask.Blueprint`` ，二者区别怎么样，我暂时还没搞清楚，这是新版Flask中的功能，以前好像只是一个插件。<br />

代码用了以前编写的一些代码，本来两下就可以搞定的，但不知道为什么 url_for 使用老是出问题，错误老是 ``werkzeug.routing.BuildError`` ，后来换作 Blueprint 后居然能用了，原理还需要学习。同样的使用，以前写的代码就没有问题，就是现在也能正常执行，但写这个应用的时候，却不能用了。<br />

下一步：<br />

- 用户验证再加强下。 <br />
- HTML页面优化下，昨天只是写代码，HTML写得一片混乱。 <br />
- 处理下代码，添加一些注释吧，主要是为了我自己看得懂。<br />

{% endblock %}